body {
    background-color: black;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    text-align: center;
    width: 100%;
    position: relative;
}

#title {
    font-size: 25px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

#save-slots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 12%;
}

.save-slots {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.save-slot {
    background: none;
    border: none;
    color: white;
    font-size: 36px;
    font-family: "Bebas Neue", sans-serif;
    cursor: pointer;
    text-align: center;
    transition: color 0.3s ease, transform 0.2 ease;
}

.save-slot:hover {
    color: gray;
    transform: scale(1.1);
}

.save-name {
    display: block;
    font-size: 36px;
    margin-bottom: 10px;
}

.save-details {
    font-size: 18px;
    color: white;
    line-height: 1.5;
}