<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Character</title>
    <link rel="preload" as="image" href="/images/Wall_Left.svg">
    <link rel="preload" as="image" href="/images/Wall_Right.svg">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='create_character.css') }}">
</head>
<body>
    <div class="svg-left">
        <img src="/images/Wall_Left.svg" alt="Wall Left" class="wall-svg wall-left">
    </div>
    <div class="wrapper">
        <h1 id="title">One More Descent</h1>
        <div id="story-container">
            {% if step == 7 %}
                <p>{{ story[player_class] }}</p>
            {% else %}
                <p>{{ story[step|string]|replace('{name}', player_name) }}</p>
            {% endif %}
        </div>
        {% if show_name_input %}
            <!-- Name Input Form -->
            <form action="{{ url_for('auth.create_character', step=step) }}" method="POST">
                <div class="input-box">
                    <input type="text" name="name" placeholder="Enter your name" value="{{ player_name }}" required>
                </div>
                <button type="submit" class="btn">&ltContinue&gt</button>
            </form>
        {% elif show_class_choice %}
            <!-- Class Selection Form -->
            <form action="{{ url_for('auth.create_character', step=step) }}" method="POST">
                <div class="class-selection">
                    <button type="submit" name="class" value="mage" class="btn">&ltMage&gt</button>
                    <button type="submit" name="class" value="warrior" class="btn">&ltWarrior&gt</button>
                    <button type="submit" name="class" value="rogue" class="btn">&ltRogue&gt</button>
                </div>
            </form>
        {% elif step == 8 %}
            <form action="{{ url_for('auth.create_character', step=step + 1) }}" method="POST">
                <button type="submit" class="btn">&ltEnter the Dungeon&gt</button>
            </form>
        {% else %}
            <!-- Next Step Button -->
            <form action="{{ url_for('auth.create_character', step=step + 1) }}" method="POST">
                <button type="submit" class="btn">&ltContinue&gt</button>
            </form>
        {% endif %}
    </div>
    <div class="svg-right">
        <img src="/images/Wall_Right.svg" alt="Wall Right" class="wall-svg wall-right">
    </div>
</body>
</html>