<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='account_pages.css') }}">
</head>
<body>
    <div class="login-flex-container">
        <div class="svg-side">
            <img src="{{ url_for('static', filename='images/SkeletonThrone.svg') }}" alt="Skeleton">
        </div>
        <div class="form-side">
            <div class="wrapper" id="login-container">
                <form action="/login" method="POST" novalidate>
                    <h1>One More Descent</h1>
                    <h2>-- Login --</h2>
                    <div class="input-box">
                        <input type="text" name="username" placeholder="Username" value="{{ username if username else '' }}" required>
                    </div>
                    <div class="input-box">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <p class="error">{{ error if error else '' }}</p>
                    <button type="submit" class="btn">Login</button>
                    <div class="register-link">
                        <p>Don't have an account? <a href="/create_account">Create Account</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>