<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Save</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='select_save.css') }}">
</head>
<body>
    <div class="wrapper">
        <h1 id="title">One More Descent</h1>
        <div id="save-slots-container">
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <div class="save-slots">
                {% for save_slot in save_slots %}
                <div class="save-slot-wrapper">
                    <form action="/select_save" method="POST">
                        <input type="hidden" name="save_slot" value="{{ save_slot['slot'] }}">
                        <div class="save-btn-container">
                            <button type="submit" name="action" value="select" class="save-slot">
                                {% if save_slot['used'] %}
                                    <span class="save-name">&ltContinue&gt</span>
                                {% else %}
                                    <span class="save-name">&ltNew Save&gt</span>
                                {% endif %}
                            </button>
                        </div>
                    </form>
        
                    {% if save_slot['used'] %}
                        <div class="save-details">
                            <p>Name: {{ save_slot['name'] }}</p>
                            <p>Class: {{ save_slot['class'] }}</p>
                            <p>Floor: {{ save_slot['floor'] }}</p>
                        </div>
                        <form action="/select_save" method="POST">
                            <input type="hidden" name="save_slot" value="{{ save_slot['slot'] }}">
                            <button type="submit" name="action" value="delete" class="delete-button">
                                &ltDelete Save&gt
                            </button>
                        </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="logout-container">
    <form action="/logout" method="GET">
        <button type="submit" class="logout-button">&ltLogout&gt</button>
    </form>
</div>
</body>
</html>