<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One More Descent</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='title_animation.css') }}">
</head>
<body>
    <div class="wrapper">
        <h1 id="title-animation">One More Descent</h1>
    </div>
    <script>
        setTimeout(() => {
            window.location.href = "{{ url_for('auth.select_save') }}";
        }, 4500);
    </script>
</body>
</html>